@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  font-family: 'Roboto', sans-serif;
}

.bg {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: #121212;
}